header {
    background-color: #23282D;
    padding: 10px 0;
} /* CSS phần menu */
.navbar {
    border-radius: 0;
    margin-bottom: 0;
    min-height: 65px;
}
.navbar-inverse {
    background-color: #1E77DF;
    border-color: #2e43b7;
}
.navbar-nav{
    margin-left: -30px;
}
#logo {
    width: 145px;
    margin-top: 15px;
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover{
    background: none;
    color: #000D0B;
    font-size: 18px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: yellow;
}
.modal {
    z-index: 9999;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
    background-color:  #1e77e8;
} /* kết thúc phần menu */  /* CSS phần Footer */
footer{

    background-color: #1e77e8;
    padding: 10px 0;
    color: #fff;
}

.footer-top {
    border-top: 1px solid black;
}
#logo-footer{
    width: 145px;
    margin-top: 50px;
}
.social{
    color: #fff;
    margin-right: 10px;
}
.social:hover{
    color: #4DB2EC;
} /* kết thúc phần Footer */
@media screen and (max-width: 768px) {
    .navbar-nav{
        margin-left: 0;
    }
    #logo-footer{
        margin-top: 15px;
        margin-bottom: 15px;

    }
}
.nav>li>a>img {
    max-width: none;
    margin: -20px auto;
    font-size: 2rem;
}


.containe{
    height: 52px;
    padding: 0px 0px;
}
#active{
    font-weight: bold;
    font-size: 17px;
}
.navbar-nav>li>a {
    padding-top: 18px;
    padding-bottom: 15px;
}