

.tabs-menu {
    height: 30px;
    clear: both;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: #3399ff;
     
}

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
    background-color: #1873e7;
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;

}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

}

.tabs-menu .current a {
    color: #2e7da3;

}

.tab {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    width: auto;
    clear: both;
   
    background-color: #3399ff;
}

.tab-content {
    width: 100%;
    padding: 20px;
    display: none;

}
body{
    background-color: #3399ff;
}

#tab-1 {
    display: block;
    background-color: #3399ff;
}
h1{
    font-size: 3em;
    line-height: 1em;
    font-weight: 600;
    color: #fff;
}
h2{
    width: 720px;
    font-size: 1.8rem;
    margin-top: 5px;
    color: #fff;
}
h4{
    width: 716px;
    font-size: 2rem;
    margin-top: -15px;
    color: #fff;
    text-align: left;
}
h4 samp{
    color: #000cfe;
    font-size: 2.5rem;
}